{{{html}}}

<section class="gh-cta">
    {{#has visibility="paid"}}
        <h4 class="gh-cta-title">Esta postagem é apenas para assinantes pagantes</h4>
    {{/has}}
    {{#has visibility="members"}}
        <h4 class="gh-cta-title">Esta postagem é apenas para assinantes</h4>
    {{/has}}
    {{#has visibility="filter"}}
        <h4 class="gh-cta-title">Esta postagem é apenas para assinantes do {{tiers}}</h4>
    {{/has}}

    <div class="gh-cta-actions">
        {{#if @member}}
            <button class="gh-btn gh-primary-btn" href="#/portal/account/plans" data-portal="account/plans">Atualize agora</button>
        {{else}}
            <button class="gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Inscreva-se agora</button>
            <span class="gh-cta-link" href="#/portal/signin" data-portal="signin">Já tem uma conta? Entrar.</span>
        {{/if}}
    </div>
</section>